@tailwind base;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  	width: 10px;
}


*::-webkit-scrollbar-thumb {
  	background-color: #b5f5f3;
}


@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Exo2, sans-serif;
    }

    @font-face {
		font-family: 'Exo2';
		src: local('Exo2'), local('Exo2'), url('/fonts/Exo2-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
}