@tailwind base;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  	width: 12px;
	background-color: #0e0e0e;
}


*::-webkit-scrollbar-thumb {
  	background-color: #131210;
}

body {
	background: #0e0e0e;
}


@tailwind components;
@tailwind utilities;

@layer base {
    html {
      	font-family: 'SpaceGrotesk-VariableFont_wght', sans-serif;
    }

	h1 {
		font-family: 'OoohBaby-Regular', cursive;
	}

    @font-face {
		font-family: 'SpaceGrotesk-VariableFont_wght';
		src: local('SpaceGrotesk-VariableFont_wght'), local('SpaceGrotesk-VariableFont_wght'), url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'OoohBaby-Regular';
		src: local('OoohBaby-Regular'), local('OoohBaby-Regular'), url('/fonts/OoohBaby-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
}