@tailwind base;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  	width: 13px;
}


*::-webkit-scrollbar-thumb {
  	background-color: #b8f5ff;
}


@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Rajdhani, sans-serif;
    }

    @font-face {
		font-family: 'Rajdhani';
		src: local('Rajdhani'), local('Rajdhani'), url('/fonts/Rajdhani/Rajdhani-SemiBold.ttf');
		font-weight: normal;
		font-display: swap;
	}
}